<dt><label for="feature_name">Feature Name: </label></dt>
<dd><%= f.text_field :name %></dd>
<dt><label for="feature_description">Feature Description: </label></dt>
<dd><%= f.text_area :description %></dd>